.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-side-nav-search {
    background: linear-gradient(-39deg, #09bcc6 0%, #1fc8db 51%, #2cb5e8 75%);
}
.wy-side-nav-search input[type=text] {
    border-color: #2cb5e8;
}

.admonition {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #e7f2fa;
}

div.admonition-for-example {
    background: #fcffbf;
}

div.admonition-for-example p.admonition-title {
    background:#ffc715;
}

.one_half {
    width: 45%;
    padding-right: 2%;
    padding-left: 2%;
    float: left;
}

.one_half p {
    margin: 1.6em 0;
    text-align: center;
}
